
.btn{
  background-color: var(--light-beige);
  color: black;
}
.btn:hover{
  background-color: var(--light-beige);
  box-shadow: 0px 0px 8px var(--light-beige);
  color: white;
}
.main{
  background-color: var(--light-gray);
  color: white;
}
