<div class="main">
  <div class="container product-details-container">
    <div class="row py-5">
      <div class="col-md-6">
          <img [src]="'http://localhost/cafeteria/backend/'+product.picture" alt="" height="370px">
      </div>
      <div class="col-md-6 d-flex justify-content-center flex-column" >
          <h2 class="my-2">{{product.name}}</h2>
          <h4 class="my-2 ">{{product.description}}</h4>
          <p class="my-2 lead secondFontColor">{{product.price}}</p>
          <div class="col-4">
            <a class="btn px-3 " (click)="addToCart(product.id)">Add</a>
          </div>
      </div>
    </div>
    <!-- <app-all-products></app-all-products> -->
  </div>
</div>


