<div class="container my-5">
  <div class="profile-container">
    <h1>Profile</h1>
    <div class="profile-info">
        <div class="info-item text-center my-5">
            <span><img class="rounded-5" [src]="'http://localhost/cafeteria/backend/images/'+image" alt="" width="50%"></span>
        </div>
        <div class="info-item">
            <label>Name:</label>
            <span id="name">{{name}}</span>
        </div>
        <div class="info-item">
            <label>Email:</label>
            <span id="email">{{email}}</span>
        </div>
        <div class="info-item">
            <label>Room No:</label>
            <span id="room-no">{{room}}</span>
        </div>
        <div class="info-item">
            <label>Role:</label>
            <span id="role">{{role}}</span>
        </div>
    </div>
</div>
</div>
