<div class="container">
    <button style="margin-bottom: 30px ;margin-left:900px ;margin-bottom:50px" (click)="AddUser()" class="btn btn-primary">Create New User</button>

    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Room</th>
                <th scope="col">image</th>
                <th scope="col">Ext</th>
                <th  colspan="2">Action</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.Name| uppercase}}</td>
                <td>{{user.Room_No}}</td>
                <td><img class="img-fluid" [src]="'http://localhost/cafeteria/backend/images/'+user.picture" width="50px"></td>
                <td>{{user.Ext}}</td>
                <td><button type="button" class="btn btn-warning" (click)="editUser(user.id)"> Edit </button>
                </td>
                <td><button type="button" class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button>
                </td>

            </tr>

        </tbody>
    </table>
</div>
