<p>checks works!</p>

<div class="container">
    <form>
        <div>
            <label for="start">Enter the start Date:</label>

            <input type="date" name="start_date" [(ngModel)]="start_date" placeholder="dd-mm-yyyy" value=""
                min="1997-01-01" max="2030-12-31">

            <label for="end">Enter the End Date:</label>

            <input type="date" name="end_Date" [(ngModel)]="end_Date" placeholder="dd-mm-yyyy" min="1997-01-01"
                max="2030-12-31">

        </div>
        <div>


            <label for="start">Enter the End Date:</label>
            <select name="user" [(ngModel)]="user">
                <option value="">Users</option>
                <option *ngFor="let user of users" [ngValue]="user.id">
                    {{ user.Name }}
                </option>
            </select>
            <button class="btn btn-primary" (click)="onSubmit(start_date,end_Date,user)"> Filter </button>
        </div>


    </form>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Order Date</th>
                <th scope="col">Total price</th>


            </tr>
        </thead>
        <tbody>
        
            <tr *ngFor="let check of checks">
            <td >{{userName}}</td>
                <td>{{check.quantity}}</td>

                <td>{{check.created_at}}</td>
                <td>{{check.price}}</td>

            </tr>

        </tbody>
    </table>
</div>