.back{
  border-radius: 6px;
  color: white;
  height: 150px;

}
.row{
  justify-content: center;
}

.container{
  min-height: 90vh;
}
.main{
  background-image: url(../../assets/images/bgg6.jpg);
  background-size: cover;
}
