<nav class="navbar navbar-expand-lg bg-info bg-black">
    <div class="container-fluid">
      <a class="navbar-brand text-white">
        #
      </a>
      <button class="navbar-toggler bg-gradient text-body" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="products" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLinkActive="active">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLinkActive="active">any</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white"  routerLinkActive="active" (click)="go_to_users()">users</a>
            <a class="nav-link text-white" routerLink="admin-product" routerLinkActive="active">DashBoard</a>
          </li>
        </ul>



        <div class="x d-flex">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white" routerLinkActive="active">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLinkActive="active">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active"><i class="fa-solid fa-user text-white"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white">LogOut</a>
            </li>
            </ul>
        </div>

      </div>
    </div>
  </nav>


