<div class="container-fluid d-flex align-items-center">
  <div class="row px-sm-5 py-5 justify-content-center">
    <div class="col-sm-8 col-md-4 mb-3 mb-md-0">
      <h1 class="text-center text-md-start">Cafeteria</h1>
      <p class="text-center text-md-start fs-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae impedit veritatis.
      </p>
      <button class="btn btn-warning d-block mx-auto mx-md-0" routerLink="/books">Read more</button>
    </div>
    <div class="col-sm-10 col-md-6">
    </div>
  </div>
</div>
