<div class="main d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-8 mb-3 mb-md-0">
        <h1 class="text-center text-md-start">Welcome to <span>C</span><span class="h1">afeteria</span></h1>
        <p class="text-center text-md-start fs-5 mb-4">
          Delicious, nutritious, varied, fresh, friendly, clean, efficient, affordable, comfortable, sustainable.<br> Enjoy our exceptional dining experience!
        </p>
        <button class="btn d-block mx-auto mx-md-0" routerLink="/allproducts">Shop Now</button>
      </div>
      <div class="col-sm-10 col-md-6">
      </div>
    </div>
  </div>

</div>
