@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

:root
{
  --main-color: #0A0A0A;
  --light-beige: #F3A446;
  --light-brown: #A06235;
  --dark-gray: #141313;
  --light-gray: #1D1D1D;
  --semi-white: #EFEFEF;
  --light-orange: #A55422;
}
