
<div class="main">
  <div class="container pt-5">
    <table style="border: none;">
      <tr style="border: none;">
        <td class="px-1"><label for="start">Enter the start Date: </label></td>
        <td ><input class="form-control my-3" type="date" name="startDate" [(ngModel)]="startDate" placeholder="dd-mm-yyyy" value="" min="1997-01-01" max="2030-12-31"></td>
        <td class="ps-4"><label for="start">Enter the start Date: </label></td>
        <td ><input class="form-control my-3 mx-1" type="date" name="endDate" [(ngModel)]="endDate" placeholder="dd-mm-yyyy" value="" min="1997-01-01" max="2030-12-31"></td>
        <td class="px-2"><button class="btn btn-success mx-3" (click)="filterOrders()">Filter Orders with Date</button></td>
      </tr>
    </table>



  <div>
    <table class="table text-center">
      <thead>
          <tr>
              <th scope="col">Order</th>
              <th scope="col">photo</th>
              <th scope="col">Name</th>
              <th scope="col">price</th>
              <th scope="col">quantity</th>
              <th scope="col">total Price</th>
              <th scope="col">Room No</th>
              <th scope="col">status</th>
              <th scope="col">Created at</th>
              <th scope="col">#</th>

          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let row of orders;">
              <td>{{row.order_id}}</td>
              <td><img class="img-fluid" [src]="'http://localhost/cafeteria/backend/'+row.picture" width="50px"></td>
              <td>{{row.name}}</td>
              <td>{{row.price}}</td>
              <td>{{row.quantity}}</td>
              <td>{{row.price * row.quantity}}</td>
              <td>{{row.room_no}}</td>
              <td>{{row.status}}</td>
              <td>{{row.created_at}}</td>
              <td><button *ngIf="row.status=='processing'" (click)="deleteOrder(row.order_id , row.id)" class="btn btn-danger">Cancel</button></td>
          </tr>
      </tbody>
    </table>

  </div>
  </div>

</div>
