<p>add-user works!</p>
<form>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input required type="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input required type="email" class="form-control" id="email" name="email">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input required type="password" class="form-control" id="password" name="password">
    </div>
    <div class="mb-3">
        <label for="confirm_password" class="form-label">Confirm Password</label>
        <input required type="password" class="form-control" id="confirm_password" name="confirm_password">
    </div>
    <div class="mb-3">
        <label for="room" class="form-label">Room</label>
        <input required type="number" class="form-control" id="room" name="room">
    </div>
    <div class="mb-3">
        <label for="ext" class="form-label">Ext</label>
        <input required type="text" class="form-control" id="ext" name="ext">
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input required type="file" class="form-control" id="image" name="image">
    </div>
    <button type="submit" class="btn btn-primary" (click)="getUsers()">Submit</button>
</form>