.main{
  background-color: var(--main-color);
}
.container{
  background-color: var(--main-color);
  color: white;
}
.table{
  background-color: var(--light-gray);
}
.card{
  background-color: var(--light-gray);
  box-shadow: 0 3px 6px var(--dark-gray);
}
img{
  background-color: var(--light-gray);
}
.btn{
  color: white;
}

.confirm{
  background-color: var(--light-beige);
  font-weight: 500;
  color: black;
}
.confirm:hover{
  background-color: var(--light-beige);
  color: white;
  box-shadow: 0 0 8px var(--light-beige);
  transition: 0.3s;
}
.card {
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}
.btn-success{
  background-color: #198754;
}
.btn-primary{
  background-color: #0D6EFD;
}
.btn-danger{
  background-color: #DC3545;
}
.btn-square {
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 16px;
  line-height: 1;
}
.text-truncate {

  text-overflow: ellipsis;
}
td.text-truncate {
  width: 200px; /* adjust as needed */
}
