<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 main">
  <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span ><img src=""></span><span class="title ">Dashboard</span>
  </a>
  <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
      <li>
          <a routerLink="/admin-product" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-table"></i><span class="ms-1 d-none d-sm-inline"><i class="fa-solid fa-book-bookmark mx-2"></i>Products</span></a>
      </li>

      <li>
          <a routerLink="/admin-category" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline"><i class="fa-brands fa-readme mx-2"></i>Categories</span> </a>
      </li>
  </ul>
</div>
